doctype html
html
  head
    title= title || "Simple Letters"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(href='http://fonts.googleapis.com/css?family=Cardo', rel='stylesheet',type='text/css')

  body
    block layout
