extends basic-layout

block layout
  .container
    div.main-logo-container
      h1.main-page-logo The Retl
    div.signin-button-container
      a(href=authUrl).signin-button
        span.button-text Sign-in with Google
