extends layout

block content
  h2 Letters:
  ul
    each letter in letters
      li(class=letter.unread ? "unread" : "read")
        h3= letter.subject
        em= letter.from
        p= letter.snippet

