extends layout

block topPanel
  a(href="/list/import?type=recent").round-button
    span.glyphicon.glyphicon-refresh
  span.logo SIMPLE LETTERS
block content
  div.container
    div.email-list
      each email in letters
        div(class=email.unread ? "unread" : "read").item
          a(href="/mail/#{email._id}")
            h2.title= email.subject
            //- em.sender= email.from
            p.snippet= email.snippet

