extends layout

block topPanel
  div.row
    div.col-xs-1.button-container-left(title="Back to list")
      a(href="/list##{pos}").round-button
        span.glyphicon.glyphicon-chevron-left
    div.col-xs-10
      div.logo.subject
        span= subject
    div.col-xs-1.button-container-right(title="Mark as read")
      a(href="/mail/#{id}/markread", data-no-instant).round-button
        span.glyphicon.glyphicon-ok

block content
  div.container !{body}
