extends layout

block topPanel
  a(href="/list").round-button.left
    span.glyphicon.glyphicon-chevron-left
  span.logo SIMPLE LETTERS
  a(href="/mail/#{id}/markread").round-button.right
    span.glyphicon.glyphicon-ok

block content
  div.container !{body}
