body {
  padding-top: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px Cardo serif !important;
  color: rgba(0,0,0,0.8);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer a {
    color: #aaa;
}

.container {
  max-width: 960px;
  margin-bottom: 50px;
}

.container.list {
  max-width: 840px;
}

a {
  color: #00B7FF;
}

/* INDEX PAGE */
.main-page-logo {
  font-size: 90px;
}

.main-logo-container {
  text-align: center;
}

.signin-button-container {
  text-align: center;
  margin-top: 50px;
}

.signin-button {
  display: inline-block;
  background: #dd4b39;
  color: white;
  width: 180px;
  height: 35px;
  border-radius: 5px;
  white-space: nowrap;
}

.signin-button:hover,
.signin-button:focus {
  background: #e74b37;
  color: white;
  text-decoration: none;
}

.signin-button .button-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  margin-top: 7px;
}
/* ---------- */

.email-list {
}

.email-list a:hover,
.email-list a:focus,
.email-list a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.email-list .item {
  padding: 10px;
}

.tsc_divider8_black {
  height: 75px;
  /*height: 30px;*/
  /* width: 330px; */
  margin: 0px auto;
  background: url(../images/tsc_divider8_black.png) no-repeat scroll center transparent;
  padding: 6px;
}

.email-list .item.latest {
  background-color: #fcfbe5;
  margin-bottom: 20px;
  border: none;
}

.email-list .item .title {
  margin-bottom: 4px;
  text-align: center;
}

.email-list .item .snippet {
  font-size: 18px;
  padding-top: 15px;
  text-align: justify;
}

.email-list .item .sender {
  text-align: center;
  font-size: .9em;
  /* color: rgba(0,0,0,0.4); */
}

.email-list .item .seen {
  color: #999;
  font-size: 23px;
  top: 4px;
  left: 9px;
}

.top-panel {
  z-index: 1;
  opacity: 0.99;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 7px;
}

.content {
  padding-top: 50px;
}

.button-container-left {
   text-align: left; 
}

.button-container-right {
   text-align: right; 
}

.round-button {
  width: 35px;
  height: 35px;
}

.round-button span {
  color: #444;
  font-size: 18px;
  text-align: center;
  padding-top: 7px;
}

.round-button:hover, .round-button:focus {
  text-decoration: none;
  color: #777;
  border-color: #777;
}

.round-button.left {
  float: left;
}

.round-button.right {
  float: right;
}

.logo {
  width: 98%;
  font-family: Cardo;
  font-size: 30px;
  color: #444;
  text-align: center;
}

.logo-small {
  width: 98%;
  font-family: Cardo;
  font-size: 15px;
  color: #444;
  text-align: center;
}

.logo-small {
  white-space: normal !important;
  max-height: 35px;
}

.logo.subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
